<mat-nav-list>
  <div class="profile-card" style="text-align: center;">
    <div class="header">
      <h2>Iran Jislen Ortiz Salazar</h2>
      <h4>jislenbebe@gmail.com</h4>
    </div>

    <img src="https://firebasestorage.googleapis.com/v0/b/flutter-notificaciones-5a781.appspot.com/o/images%2FWhatsApp%20Image%202021-12-14%20at%206.57.42%20PM.jpeg?alt=media&token=e1008a41-6c11-426d-8730-1861f1f5e97d" class="img">

  </div>
  <mat-divider></mat-divider>

  <h2 mat-subheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dahsboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon class="mat-18">import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon class="mat-18">contact_phone</mat-icon>
    Lead
  </a>
</mat-nav-list>
